<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id='sidebar'>
            <div class="sidebar__controls">
                <button class="sidebar__control sidebar__control--add-task">Add Task</button>
                <button class="sidebar__control sidebar__control--inbox">Inbox</button>
           </div>
            <div class="sidebar__projects">
                <button class="sidebar__project sidebar__projects--create-project-button">My Projects</button>
            </div>
        </div>
        <div id="content">
            <div class="project">
                <h1 class="project__title">My Projects</h1>
                <div class="project__create">
                    <button class="project__create-button">Create New Project</button>
                </div>
                <div class="project__counter">
                    <span class="project__counter-span">1 Project</span>
                </div>
                <div class="project__list">
                    <div class="project__item">
                        <span>Project Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>