<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id='sidebar'> </div>
        <div id="content">
            <div class="project">
                <div class="form-container">
                    <div>
                        <h3>Add Project</h3>
                    </div>
                    
                <h1 class="project__title">My Projects</h1>
                <div class="project__create">
                    <button id="contentCreateProjectButton" class="project__create-button">Create New Project</button>
                </div>
                <div class="project__counter">
                    <span class="project__counter-span">1 Project</span>
                </div>
                <div class="project__list"></div>
            </div>
        </div>
        <div class="projectFormContainer hide" id="projectSidebarFormContainer"></div>
    </div>
</body>
</html>