:root {
  --main-black: #000000;
  --main-gray-strong: #A8A8A8;
  --main-gray-light: #F4F4F4;
  --main-white: #FAFAFA;
  --main-white-warm: #FCFAF8;
  --main-yellow: #ACB8A8;
  --main-red: #DC4C3E;
  --main-peach: #FFEFE5;
}

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0
}

html {
  font-size: 1rem;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--main-black);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button textarea, select {
    font: inherit;
}

p, h1 ,h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
  }

.hide {
  display: none;
}

#sidebar {
  grid-area: sidebar;
  background-color: var(--main-white-warm);
  display: flex;
  flex-direction: column;
}

.sidebar__controls {
  display: flex;
  flex-direction: column;
}

.sidebar__control, .sidebar__project {
  padding: 1.5rem;
  appearance: none;
  background-color: inherit;
  border: 0px;
  font-size: inherit;
}


.sidebar__control--add-task {
  color: var(--main-red);
  font-weight: bold;
}

.sidebar__control:hover, .sidebar__project:hover  {
  border-radius: 0.5rem;
  background-color: var(--main-gray-strong);
  cursor: pointer;

}

.sidebar__projects--create-project-button {
  width: 100%;
  font-weight: bold;
}

#content {
  grid-area: content;
  padding: 5rem 2rem 0 2rem;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 320px 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "sidebar content content content";
}

.header__project-name {
  padding: 1rem 0;
}

.container-task-add-btn {
  border: 1px solid var(--main-black);
  border-width: 1px 0px 1px 0px;
}


.task-add__form-container {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  display: flex;
  flex-direction: column;
  height: 10rem;
}

.task-add__form {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.task-add__input {
  border: 0;
}
.task-add__input--name, .task-add__input--description {
  width: 100%;
}

.task-add__input--name {
  font-weight: bold;
}

.task-add__controlls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.task-add__select {
  margin-right: auto;
}

.task-add__display-button {
  appearance: none;
  background-color: inherit;
  border: 0;
  font-size: inherit;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  cursor: pointer;
}
.task-add__display-button:hover {
  color: var(--main-red);
}

.task-list__item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--main-gray-strong);
}
.task-list__checkbox-input {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid var(--main-red);
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  background-color: white;
}

.task-list__checkbox-input::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.task-list__checkbox-input:checked {
  background-color: var(--main-red);
}

.task-list__checkbox-input:checked::after {
  display: block;
}
.task-list__info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.task-list__description {
  font-size: 0.75rem;
  color: var(--main-gray-strong);
}


#floating-task-add-container {
  background-color: yellow;
  z-index: 999;
  position: fixed;
  top: 10%;
  left: 25%;
  transform: translate(-50%, -  50%);
  width: 50%;
}