:root {
  --main-black: #333;
  --main-gray-strong: #AEB3AC;
  --main-gray-light: #F4F4F4;
  --main-white: #FAFAFA;
  --main-yellow: #ACB8A8;
  --main-red: #DC4C3E;
}

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0
}

html {
  font-size: 1rem;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--main-black);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button textarea, select {
    font: inherit;
}

p, h1 ,h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
  }

  .sidebar {
    grid-area: sidebar;
    border-radius: 10px;
  }

  .content {
    grid-area: content;
  }

  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: auto;
    grid-template-areas:
    "sidebar content content content";
    padding: 2rem;
  }

  li {
    list-style-type: none;
  }

  ul.task-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0.5rem;
  }
  .container-task-add-btn {
    border: 1px solid var(--main-black);
    border-width: 1px 0px 1px 0px;
  }

  ul.task-item {
    border: 1px solid ;
    border-width: 0px 0px 1px 0px;
  }


.container-task-add-btn {
    width: 100%;
    background: none;
    color: var(--main-gray-strong);
    border: none;
    padding: 0.5rem 0;
    font: inherit;
    cursor: pointer;
    outline: inherit; 
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--main-gray-strong)
  }

  .container-task-add-btn:hover {
    color: var(--main-red)
  }
  .task-add-btn {
    width: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit; 
    display: flex;
    flex-direction: row;
  }

  .hide {
    display: none;
  }
  
  .task-add__form-container {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem
  }